<form [formGroup]="addForm">
    <md-input-container class="full-width">
        <input mdInput placeholder="Name" [(ngModel)]="room['name']" formControlName="name">
        <md-error *ngIf="addForm.get('name').hasError('required')">
            The room must have a name
        </md-error>
    </md-input-container>

    <md-input-container class="full-width">
        <input mdInput placeholder="Password" [(ngModel)]="room['password']" formControlName="password">
        <md-error *ngIf="addForm.get('password').hasError('required')">
            You need to protect your room
        </md-error>
    </md-input-container>

    <md-input-container class="full-width">
        <input mdInput placeholder="Number of members" type="number" [(ngModel)]="room['people']" formControlName="people" min="0">
        <md-error *ngIf="addForm.get('password').hasError('required')">
            Number of participants
        </md-error>
    </md-input-container>

    <div class="center">
        <button md-icon-button (click)="add()" type="submit">
            <md-icon>check_circle</md-icon>
        </button>
        <button md-icon-button md-dialog-close type="button">
            <md-icon>cancel</md-icon>
        </button>
    </div>
</form>