<div *ngIf="mode === 'display'">
  <section *ngIf="!votation; else showPoints;">
    <h1 class="full-width center">Send your votes!</h1>
    <md-progress-bar color="primary" mode="indeterminate" class="full-width">
    </md-progress-bar>
  </section>

  <ng-template #showPoints>
    <div class="center">
      <p class="mat-display-1">Points obtained</p>
      <div *ngFor="let key of votation.keys()" style="margin-bottom: 10px">
        <p class="mat-body-1">{{votation.get(key)}} member(s) voted {{key}} points</p>
      </div>
      <button md-raised-button color="primary" (click)="cleanRoom()">Clean votes</button>
    </div>
  </ng-template>

  <div class="button-fixed">
    <button md-fab (click)="exit()" mdTooltip="Exit from this room" mdTooltipPosition="above">
      <md-icon>exit_to_app</md-icon>
    </button>
    <button md-fab (click)="close()" mdTooltip="Close/Remove this room" mdTooltipPosition="above">
      <md-icon>close</md-icon>
    </button>
  </div>
</div>
<div *ngIf="mode === 'team'" class="center">
  <md-input-container>
    <input mdInput placeholder="Write your points" [(ngModel)]="points" type="number">
  </md-input-container>
  <button md-raised-button color="primary" (click)="sendPoints()">Send</button>
  <div class="button-fixed">
    <button md-fab (click)="exit()" mdTooltip="Exit from this room" mdTooltipPosition="above">
      <md-icon>exit_to_app</md-icon>
    </button>
  </div>
</div>
