<md-list *ngFor="let room of rooms | async">
  <md-list-item>
    <button md-icon-button (click)="onClickRoom(room, 'team')" class="button-list" color="primary" mdTooltip="Team mode" mdTooltipPosition="below">
      <md-icon>people</md-icon>
    </button>
    <button md-icon-button (click)="onClickRoom(room, 'display')" class="button-list" color="primary" mdTooltip="Display mode"
      mdTooltipPosition="below">
      <md-icon>desktop_windows</md-icon>
    </button>
    <p md-line>{{room.name}}</p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
<div class="button-fixed">
  <button md-fab (click)="openDialog()" mdTooltip="Add new room" mdTooltipPosition="below">
    <md-icon>add</md-icon>
  </button>
  <button md-fab (click)="logout()" mdTooltip="Exit" mdTooltipPosition="above">
    <md-icon>exit_to_app</md-icon>
  </button>
</div>
